@import "../abstract/variables";

#services {
  padding: 80px;

  h3 {
    font-size: $font-size-h1 / 2.5;
    color: $blue;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
  }

  h4 {
    text-align: center;
    font-size: $font-size-h1 / 1.2;
    margin-bottom: 80px;
    font-weight: 300;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;

    .card {
      width: 360px;
      text-align: center;

      .img-container {
        padding-bottom: 2px;
        border-bottom: 6px solid $navy;

        img {
          width: 100%;
        }
      }

      h5 {
        font-size: $font-size-h1 / 1.5;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: 20px;
        color: $purplue;
      }

      p {
        font-size: $font-size-h1 / 3;
        font-weight: 300;
        color: $blue;
        line-height: 1.25rem;
      }
    }
  }
}
